/* Header */
  header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
  }
  body {
    /* font-family: Arial, sans-serif; */
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }

/* Navigation Bar */
  nav {
    display: flex;
    justify-content: center;
    background-color: #444;
    padding: 10px 0;
  }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  nav ul li {
    margin-right: 30px;
    margin-left: 30px;
  }
  nav ul li a {
    color: white;
    text-decoration: none;
  }
  nav ul li a:hover {
    text-decoration: underline;
  }

/* Dropdown for Meeting Notes */
    .dropdown-content {
        display: none;
    }
    .dropdown:hover .dropdown-content {
        display: block;
    }

/* Main */
    body {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
    main {
        flex: 1;
        padding: 20px;
    }
    h2 {
        text-align: center;
    }

/* Footer */
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
  }

/* Meeting Page */  
  .meeting-nav {
    background-color: black;
  }
  .meeting-nav ul li {
    margin-top: 0;
    margin-right: 25px;
    margin-left: 25px;    
  }
  .meeting-page {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  .meeting-page li {
    margin-top: 10px;
  }
  h3 {
    color: blue;
    font-size: 1.5em;
    margin-bottom: 5px;
  }
  h4 {
    color: green;
    font-size: 1.25em;
    text-align: center;
    margin-bottom: 10px;
  }
  section {
    margin-bottom: 20px;
  }
  .checkbox li {
    list-style-type: "☐ ";
  }
  img {
    max-width: 80%;
    max-height: 80%;
  }
  .img-container {
    display: flex;
    justify-content: space-around;
    border: 1px solid #ccc;
  }
  .img-label {
    text-align: center;
  }
  