:root {
  --dark-theme-color: #231942;
  --medium-theme-color: #5e548e;
  --light-theme-color: #9f86c0;
  --button-hover-color: color(display-p3 0.21464 0.22695 0.7395 / 1);
  --phone-button-color: color-mix(in oklab, #18b016, #4179fc 10%);
}

/* Header */
  header {
    background-color: var(--medium-theme-color);
    color: white;
    text-align: center;
    padding: 10px 0;
  }
  body {
    font-family: 'Platypi', serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  h2, h3, h4 {
    font-family: 'Young Serif', serif;
  }
  h1 {
    font-family: "Honk", system-ui;
    font-size: 2.25em;
  }
  h2 {
    font-size: 1.75em;
  }

/* Footer */
  footer {
    background-color: var(--medium-theme-color);
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }

/* Navigation Bar */
  nav {
    display: flex;
    justify-content: center;
    background-color: var(--light-theme-color);
    padding: 10px 0;
  }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 1.25rem;
  }
  nav ul li {
    margin-right: 30px;
    margin-left: 30px;
  }
  nav ul li a {
    color: white;
    text-decoration: none;
  }
  nav ul li a:hover {
    text-decoration: underline;
  }
  .no-underline:hover {
    text-decoration: none;
  }

/* Dropdown for Meeting Notes */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--light-theme-color);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  .dropdown-content a {
    color: white;
    padding: 5px 5px;
    display: block;
    text-align: left;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }

/* Main */
    body {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
    main {
        flex: 1;
        padding: 20px;
    }
    h2 {
        text-align: center;
    }

/* Meeting Page */  
  .meeting-nav {
    background-color: var(--dark-theme-color);
  }
  .meeting-nav ul li {
    margin-top: 0;
    margin-right: .2in;
    margin-left: .2in;    
  }
  .meeting-nav ul {
    font-size: 1rem;
  }
  .meeting-page {
    min-width: 400px;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  .meeting-page li {
    margin-top: 10px;
  }
  h3 {
    color: var(--dark-theme-color);
    font-size: 1.5em;
    margin-bottom: 5px;
  }
  h4 {
    color: black;
    font-size: 1.25em;
    text-align: center;
    margin-bottom: 10px;
  }
  section {
    margin-bottom: 20px;
  }
  .checkbox li {
    list-style-type: "â˜ ";
  }
  img {
    max-width: 80%;
    max-height: 80%;
  }
  .img-container {
    display: flex;
    justify-content: space-around;
    border: 1px solid #ccc;
    margin-top: 20px;
  }
  .img-label {
    text-align: center;
    margin-bottom: 20px;
  }
  
/* Home Page */
  .home-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  details {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    width: 80%;
    max-width: 600px;
    position: sticky; top: 0;
  }
  summary {
    font-size: 24px;
    font-weight: bold;
    color: black;
    cursor: pointer;
  }
  details p {
    font-size: 14pt;
    color: hsl(270, 50%, 50%);
  }
  strong {
    color: var(--light-theme-color);
  }
  summary:hover {
    color: var(--light-theme-color);
  }
  .home-main p {
    font-size: 20px;
    text-align: center;
  }
  .pitch {
    font-weight: bold;
  }

/* Contact Page */
  * {
    box-sizing: border-box;
  }
  .contain {
    max-width: 95vw;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
  }
  @media (min-width: 600px) {
    .contain {
      padding: 0;
    }
  }
  #contains-info h2, #contains-info ul {
    margin: 0;
  }
  #contains-info h2 {
    margin-bottom: 1rem;
  }
  input, textarea, button {
    width: 100%;
    border-width: 1px;
    border-color: #000;
    border-style: solid;
    border-radius: 5px;
  }
  .wrapper {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  }
  .wrapper > * {
    padding: 1em;
  }
  @media (min-width: 700px) {
    .wrapper {
      display: grid;
      grid-template-columns: 1fr 2fr;
    }
    .wrapper > * {
      padding: 2em 2em;
    }
  }
  .contact-list {
    list-style: none;
    padding: 0;
  }
  .contact-list li {
    margin-bottom: 0.5cm;
  }
  .contacts {
    background-color: var(--light-theme-color);
    color: #fff;
    margin-bottom: 0;
  }
  .form {
    background: #fff;
    margin-bottom: 0;
  }
  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
  form label {
    display: block;
  }
  form p {
    margin: 0;
  }
  .full-width {
    grid-column: 1 / 3;
  }
  button, input, textarea {
    padding: 1em;
  }
  input[type="submit"] {
    background-color: var(--light-theme-color);
    width: 100%;
    border: none;
    border-radius: 5px;
    color: white;
  }
  input[type="submit"]:hover, input[type="submit"]:focus {
    outline: 0;
    background-color: var(--medium-theme-color);
    cursor: pointer;
  }
  input[type="submit"]:active {
    background-color: var(--dark-theme-color);
  }
  .button {
    padding: 0.1cm 0.2cm;
    background-color: rgb(0, 123, 255);
    color: white;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
  }  
  .button:hover {
    background-color: var(--button-hover-color, #0056b3);
  }
  .button:active {
    background-color: rgb(9, 16, 86);
  }
  .button:focus {
    outline: none;
  }
  .phone-button {
    background-color: var(--phone-button-color, #28a745);
  }
  .phone-button:hover {
    background-color: #218838;
  }
  .phone-button:active {
    background-color: rgb(2, 43, 15);
  }