:root {
  --dark-theme-color: #231942;
  --medium-theme-color: #5e548e;
  --light-theme-color: #9f86c0;
  --button-hover-color: color(display-p3 0.21464 0.22695 0.7395 / 1);
  --phone-button-color: color-mix(in oklab, #18b016, #4179fc 10%);
}

/* Header */
  header {
    background-color: var(--medium-theme-color);
    color: white;
    text-align: center;
    padding: 10px 0;
  }
  body {
    /* font-family: Arial, sans-serif; */
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.75em;
  }

/* Footer */
  footer {
    background-color: var(--medium-theme-color);
    color: white;
    text-align: center;
    padding: 10px 0;
  }

/* Navigation Bar */
  nav {
    display: flex;
    justify-content: center;
    background-color: var(--light-theme-color);
    padding: 10px 0;
  }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 1.25rem;
  }
  nav ul li {
    margin-right: 30px;
    margin-left: 30px;
  }
  nav ul li a {
    color: white;
    text-decoration: none;
  }
  nav ul li a:hover {
    text-decoration: underline;
  }
  .no-underline:hover {
    text-decoration: none;
  }

/* Dropdown for Meeting Notes */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  .dropdown-content a {
    color: black;
    padding: 5px 5px;
    display: block;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }

/* Main */
    body {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
    main {
        flex: 1;
        padding: 20px;
    }
    h2 {
        text-align: center;
    }

/* Meeting Page */  
  .meeting-nav {
    background-color: var(--dark-theme-color);
  }
  .meeting-nav ul li {
    margin-top: 0;
    margin-right: .2in;
    margin-left: .2in;    
  }
  .meeting-nav ul {
    font-size: 1rem;
  }
  .meeting-page {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  .meeting-page li {
    margin-top: 10px;
  }
  h3 {
    color: var(--dark-theme-color);
    font-size: 1.5em;
    margin-bottom: 5px;
  }
  h4 {
    color: black;
    font-size: 1.25em;
    text-align: center;
    margin-bottom: 10px;
  }
  section {
    margin-bottom: 20px;
  }
  .checkbox li {
    list-style-type: "☐ ";
  }
  img {
    max-width: 80%;
    max-height: 80%;
  }
  .img-container {
    display: flex;
    justify-content: space-around;
    border: 1px solid #ccc;
    margin-top: 20px;
  }
  .img-label {
    text-align: center;
    margin-bottom: 20px;
  }
  
/* Home Page */
  .home-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  details {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    width: 80%;
    max-width: 600px;
  }
  summary {
    font-size: 24px;
    font-weight: bold;
    color: black;
    cursor: pointer;
  }
  details p {
    font-size: 14pt;
    color: hsl(270, 50%, 50%);
  }
  strong {
    color: var(--light-theme-color);
  }
  summary:hover {
    color: var(--light-theme-color);
  }
  p {
    font-size: 20px;
  }

/* Contact Page */
  /* Contact Information */
  #contact-info {
    text-align: center;
  }
  .button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: rgb(0, 123, 255);
    color: white;
    border-radius: 5px;
    text-decoration: none;
  }
  .button:hover {
    background-color: var(--button-hover-color, #0056b3);
  }
  .button:focus {
    outline: none;
  }
  .phone-button {
    background-color: var(--phone-button-color, #28a745);
  }
  .phone-button:hover {
    background-color: #218838;
  }

  /* Feedback Form */
  fieldset {
    border: 2px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    width: 95vw;
    margin: 0 auto;
  }
  legend {
    font-weight: bold;
    font-size: 18px;
  }
  label {
    display: block;
    margin-bottom: 0.25cm;
  }
  input[type="text"], input[type="email"], textarea {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  input[type="date"], select {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  input[type="submit"] {
    padding: 10px 20px;
    background-color: var(--light-theme-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  input[type="submit"]:hover {
    background-color: var(--medium-theme-color);
  }
  input[type="checkbox"] {
    margin-right: 5px;
  }